/* Decrease width of sidebar from 300px */
.wy-nav-content-wrap {
  margin-left: 250px;
}
.wy-nav-side {
  width: 250px;
}
.wy-side-nav-search {
  width: 250px;
}
/* Increase width of content from 800 px */
.wy-nav-content {
  max-width: 900px;
}
/* Soften styling of code literals (``) */
.rst-content code.literal {
  color: inherit;
  background-color: rgba(27,31,35,.05);
  border: none;
  padding: 0.2rem 0.3rem;
  font-size: 0.75rem;
  border-radius: 3px;
}
/* Allow word-wrapping in tables */
.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: inherit;
}
